.about-us-content {
    /* width: 80vw; */
    display: flex;
    /* flex-direction: row-reverse; */
    margin: auto;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.about-us-img-container {
    overflow: hidden;
    margin: auto;
    width: 50%;
    /* margin-right: 0; */
}

.about-us-img {
    width: 35vw;
    height: 35vw;

    width: 130vh;
    height: 130vh;
    /* display: flex; */
    object-fit: cover;
    margin: auto;
    /* margin-left: 0; */
    margin-top: -20vh;

    border-radius: 50%;
}

.about-us-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    /* margin-top: 0%; */
    z-index: 2;
}

.main-heading {
    font-size: 10vh;
    margin-bottom: 0;
}

.sub-heading {
    margin-top: 0;
    font-size: 3vh;
    margin-bottom: 0;
}

.main-desc, .desc-link {
    margin-top: 0;
    display: inline;
    font-size: 2.4vh;
}

.desc-link {
    color: #000;
}

.desc-link:hover {
    filter: invert(48%) sepia(6%) saturate(6%) hue-rotate(329deg) brightness(102%) contrast(89%);
}

@media screen and (max-aspect-ratio: 6/5)
{
    .about-us-content {
        /* margin: auto 0 auto 0; */
        padding: 5vh 0 5vh 0;
        width: 100%;

        display: -webkit-flex;
        display: flex;

        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
        justify-content: center;
        flex-wrap: wrap;
    }
    .about-us-text {
        text-align: center;
    }
    .about-us-img {
        /* margin-left: -80vw; */
        /* margin-top: -10vh; */
        margin-top: 0;
        width: 50vw;
        height: 50vw;
        object-fit: contain;
    }
    .about-us-img-container {
        overflow: visible;
    }

    .main-heading {
        font-size: 10vh;
        justify-content: center;
        display: flex;
    }
}
