.register-block, .register-form, .register-section {
  width: 100%;
}

.register-fields-container {
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: auto;
  gap: 30px;
  margin-bottom: 10px;
}

.register-field-text, .register-text-area {
  /* margin: 2rem 0 2rem 0; */
  border: 4px solid white;
  border-radius: 35px;
  width: 100%;
  background: transparent;
  color: white;
  padding: 1rem;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.register-field-text::placeholder, .register-text-area::placeholder {
  color: white;
}

.register-text-area, .register-field-large-container {
  width: 100%;
  height: 100%;
}

.register-fields-col {
  display: flex;
  flex-direction: column;
  justify-content: left;
  row-gap: 10px;
}

@media screen and (max-aspect-ratio: 6/5) {
  .register-fields-container {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 40vh;
    gap: 10px;
    margin-bottom: 10px;
  }
}