.nav {
  top: 0px;
  padding: 0.25rem 2rem;
  background-color: #253E1E;
  position: sticky;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.nav-items {
  padding: 0 1rem;
  list-style: none;
  text-align: center;
}

.nav-item {
  display: inline-block;
}

.nav-item:not(:first-child) {
  margin-left: 3vw;
}

.nav-item-selected, .nav-item:hover {
  color: rgb(225, 252, 193);
  cursor: pointer;
}

.anchor-base,
.anchor-base:hover,
.anchor-base:visited,
.anchor-base:focus,
.anchor-base:active {
  text-decoration: none !important;
  color: inherit;
  outline: 0;
  cursor: pointer;
}

@media screen and (max-width: 800px)
{
  .nav-item:hover {
    text-underline-offset: 3px;
  }
  .nav-items {
    margin-left: 6vw;
    margin-right: 6vw;
  }
}
